altgraph==0.16.1
boto3==1.9.24
botocore==1.12.24
Click==7.0
configparser==3.5.0
docutils==0.14
future==0.16.0
jmespath==0.9.3
macholib==1.11
pefile==2018.8.8
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
urllib3==1.26.5
